body{
    background: #000000;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#app{
    display: grid;
    /* grid-template-columns:  */
    color: lightgray;
    justify-content: center;
    grid-gap: 0.5em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". hd hd hd hd ."
    " . in in in in ."
    " . ct ct ct ct .";
}

.holder.headline{
    grid-area: hd;
    font-size: 32px;
}

.inputs{
    grid-area: in;
    background-color: #242424;
    padding: 20px;
}
.forms-container{
    margin-bottom: 20px;
}

.submit-button{
    background-color: orange;
    height: 40px;
    border-color: transparent;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.content{
    grid-area: ct;
    background-color: #242424;
    padding: 20px;
}
.content-headline{
    font-size: 18px;
    width: 100%;
}
.trip-container{
    display: flex;
    flex-direction: column
}
#trip-image{
    max-height: 300px;
    object-fit: contain;
}


input {
    height: 25px;
}


.feel{
    display: flex;
    flex-direction: column;
}

.entry{
    background: rgba(59, 74, 107, .4);
}

// temperature container
.temperature-container{
}

.header{
    font-weight: bold;
}

#destination{
    font-size: 20px;
}